@{
    ViewBag.Title = "Home Page";
}

<div class="col-lg-12">
    <div class="home-page-box">
        <p class="home-page-name">ALEXANDER <span id="tab"></span>BUCHANIEC</p>
        <p class="fullstack">Full-Stack Developer </p>
    </div>
</div>    
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />