
@{
    ViewBag.Title = "Portfolio";
}

@* Raspberry Pi Store *@
<div>
    <h1>E-Commerce Website</h1>
    <div class="col-lg-12 portfolio-img">
        <img src="~/Content/Portfolio Pics/E-Commerce-Store.png" width="700" />
    </div>
    <div class="col-lg-12 portfolio">
        <p>This E-Commerce Website was built using <strong>HTML</strong>, <strong>CSS</strong>, <strong>C#</strong>, <strong>T-SQL</strong>, <strong>Entity Framework</strong>, <strong>Bootstrap</strong>, <strong>SendGrid API</strong>(Email Service), <strong>BrainTree API</strong>(Credit Processing), <strong>Twilio API</strong>(SMS Service), <strong>ASP.NET</strong>, and <strong>MVC 5</strong> (Deep Breath).</p>
        <p>The premise of this project was to quickly build a <strong>fully functional E-Commerce store</strong> that sells Raspberry Pi's and Raspberry Pi accessories. My insperation for this store comes from playing around with Raspberry Pi computers the past couple years. In addition to this, I think the Raspberry Pi is an awesome foundation that helps promote the study of basic computer science for children in schools.</p>
        <p>This Website and <strong>Database</strong> is currently hosted on <strong>Azure</strong>. You can read some of the documentation on the <strong>GitHub</strong> button below!</p>
    </div>
    <div class="col-lg-12">
        <div class="svg-wrapper col-lg-12">
            <svg height="60" width="320">
                <rect class="shape" height="60" width="320" />
            </svg>
            <div class="text"><a href="http://raspberrypistore.azurewebsites.net/">WebSite</a></div>
        </div>
        <div class="svg-wrapper col-lg-12">
            <svg height="60" width="320">
                <rect class="shape" height="60" width="320" />
            </svg>
            <div class="text"><a href="https://github.com/celloalex/E-commerce-Website">GitHub</a></div>
        </div>
    </div>
    <hr />
</div>

@* Weather Application *@
<div>
    <h1>Weather Application</h1>
    <div class="col-lg-12 portfolio-img">
        <img src="~/Content/Portfolio Pics/Weather-Application.png" width="700" />
    </div>
    <div class="col-lg-12 portfolio">
        <p>This Weather Application was built using <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>, <strong>JQuery</strong>, <strong>Bootstrap</strong>, and an <strong>API</strong> from Weather Underground. The premise of this project was to build a website that calls a web <strong>API</strong>, and process the information to make it useful to the end user.</p>
        <p>This project was challenging because I was completly unfamiliar with <strong>API's</strong>. I learned that when you go to use an <strong>API</strong> there is alot of documentation that needs to be read in order to properly use it. In addition, I used bootstrap for the first time. Bootstrap is great beacuse it allows you to quickly put up a site and give you decent styling.</p>
        <p>Functionality of the website includes a 3-day forcast of the weather at desired zipcode, and current weather at desired zipcode.</p>
        <p>Try it out!</p>
    </div>
    <div class="col-lg-12">
        <div class="svg-wrapper col-lg-12">
            <svg height="60" width="320">
                <rect class="shape" height="60" width="320" />
            </svg>
            <div class="text"><a href="https://celloalex.github.io/Weather-application/">WebSite</a></div>
        </div>
        <div class="svg-wrapper col-lg-12">
            <svg height="60" width="320">
                <rect class="shape" height="60" width="320" />
            </svg>
            <div class="text"><a href="https://github.com/celloalex/Weather-application">GitHub</a></div>
        </div>
    </div>
    <hr />
</div>

@* Periodic Table *@
<div>
    <h1>Periodic Table</h1>
    <div class="col-lg-12 portfolio-img">
        <img src="~/Content/Portfolio Pics/Periodic-Table.png" width="700" />
    </div>
    <div class="col-lg-12 portfolio">
        <p>The Periodic Table was built using <strong>HTML</strong> and <strong>CSS</strong>. The premise of this project was to build a website from scratch. In addition, there was no guidance from instruction material or visual aids.</p>
        <p>Some cool functionality was used during this project! For example, to keep the Periodic Table organized the use of <strong>table elements</strong> was used. In addition, when the user <strong>hovers</strong> over an element it changes colors. Lastly, everything in the Periodic Table is clickable and will bring the user to individual Wikipedia pages.</p>
        <p>Try it out, and find your favorite element! Hyrdrogen is my favorite!</p>
    </div>
    <div class="col-lg-12">
        <div class="svg-wrapper col-lg-12">
            <svg height="60" width="320">
                <rect class="shape" height="60" width="320" />
            </svg>
            <div class="text"><a href="https://celloalex.github.io/Periodic-Table/">WebSite</a></div>
        </div>
        <div class="svg-wrapper col-lg-12">
            <svg height="60" width="320">
                <rect class="shape" height="60" width="320" />
            </svg>
            <div class="text"><a href="https://github.com/celloalex/Periodic-Table">GitHub</a></div>
        </div>
    </div>
    <hr />
</div>

@* Amazon Sign In Page *@
<div>
    <h1>Amazon Sign In Page (Clone)</h1>
    <div class="col-lg-12 portfolio-img">
        <img src="~/Content/Portfolio Pics/Amazon-Mock-Site.png"/>
    </div>
    <div class="col-lg-12 portfolio">
        <p>The Amazon Sign In Page was built using <strong>HTML</strong> and <strong>CSS</strong>. The premise of this project was to build a website using a visual aid.</p>
        <p>Following written instructions is one thing, looking at a picture and having to recreate it is another. I learned that in order to execute something even as simple as a login page it requires organization and lots of comments in my code. <strong>Clean, intuitive, well commented code</strong> is one of the best ways to keep from getting yourself and others confused and frustrated.</p>
        <p>Heck this even fooled a few people!</p>
    </div>
    <div class="col-lg-12">
        <div class="svg-wrapper col-lg-12">
            <svg height="60" width="320">
                <rect class="shape" height="60" width="320" />
            </svg>
            <div class="text"><a href="https://celloalex.github.io/Amazon-Sign-In-Mock-Site/">WebSite</a></div>
        </div>
        <div class="svg-wrapper col-lg-12">
            <svg height="60" width="320">
                <rect class="shape" height="60" width="320" />
            </svg>
            <div class="text"><a href="https://github.com/celloalex/Amazon-Sign-In-Mock-Site">GitHub</a></div>
        </div>
    </div>
    <hr />
</div>

@* CODING TEMPLE WEBSITE *@
<div>
    <h1>Coding Temple Website</h1>
    <div class="col-lg-12 portfolio-img">
        <img src="~/Content/Portfolio Pics/Coding-Temple.png" width="700" />
    </div>
    <div class="col-lg-12 portfolio">
        <p>The Coding Temple website was built using <strong>HTML</strong> and <strong>CSS</strong>. The premise of this project was to followalong with instruction based daily assignments.</p>
        <p>Having never used <strong>HTML</strong> or <strong>CSS</strong> before, this was a quick learning experiance. Since <strong>HTML</strong> is a markup language it came very easily to me. Likewise, <strong>CSS</strong> is mainly used for styling, so using them when the situation was right was imperative.</p>
    </div>
    <div class="col-lg-12">
        <div class="svg-wrapper col-lg-12">
            <svg height="60" width="320">
                <rect class="shape" height="60" width="320" />
            </svg>
            <div class="text"><a href="https://celloalex.github.io/Coding-Temple-Website/">WebSite</a></div>
        </div>
        <div class="svg-wrapper col-lg-12">
            <svg height="60" width="320">
                <rect class="shape" height="60" width="320" />
            </svg>
            <div class="text"><a href="https://github.com/celloalex/Coding-Temple-Website">GitHub</a></div>
        </div>
    </div>
    <hr />
</div>

@* LIBRARY CATALOG *@
<div>
    <h1>Library Catalog</h1>
    <div class="col-lg-12 portfolio-img">
        <img src="~/Content/Portfolio Pics/Library-Catalog.png" />
    </div>
    <div class="col-lg-12 portfolio">
        <p>The Library Catalog is a console application written in <strong>C#</strong>. This application uses <strong>XML Serialization</strong> to save data to the file system specified by the user.</p>
        <p>The Library Catalog gives the user many options for the user to choose from such as:</p>
        <ul>
            <li><p>Listing all books in the system by alphabetical order</p></li>
            <li><p>Allowing user to enter a book into the catalog</p></li>
            <li><p>Remove a selected book from the catalog</p></li>
            <li><p>Select and change properties of a book from the catalog</p></li>
            <li><p>Save all entered information to the filesystem and exit</p></li>
        </ul>
        <p>Some challenges that had to be overcome for this project include: Learning XML Serialization, saving to the file system, and working with a partner.</p>
    </div>
    <div class="svg-wrapper">
        <svg height="60" width="320">
            <rect class="shape" height="60" width="320" />
        </svg>
        <div class="text"><a href="https://github.com/celloalex/Library-Card-Catalog">GitHub</a></div>
    </div>
</div>