@{
    ViewBag.Title = "Resume";
}

















@* This is for all links heading outside of site *@
<div class="svg-wrapper">
    <svg height="60" width="320">
        <rect class="shape" height="60" width="320" />
    </svg>
    <div class="text"><a href="~/Content/Documents/Alexander Buchaniec Resume .pdf">Resume</a></div>
</div>
